/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
    .phone-main {
        font-size: 20px;
    }
    .footer__link, .header__link {
        font-size: 10px;
    }
    .btn-main {
        height: 55px;
        padding: 0 30px;
        font-size: 13px;
        gap: 8px;
    }
    .btn-main img {
        max-width: 21px;
    }
    .header .btn-main {
        height: 55px;
    }
    .logo img {
        width: 103px; 
    }
    .menu a {
        height: 39px;
    }
    body {
        font-size: 14px;
    }
    .socials-list img {
        max-width: 55px;
    }
    .menu {
        margin-right: 80px;
    }
    .sandwich {
        width: 58px;
        height: 58px;
        margin-right: 35px;
        padding-top: 17px;
    }
    .header {
        padding-top: 16px;
    }
    .slick-dots li,
    .slick-dots li button {
        width: 12px;
        height: 12px;
    }
    .slick-dots li.slick-active, .slick-dots li.slick-active button {
        width: 50px;
    }
    .item-banner {
        padding: 50px 45px;
        height: 495px;
    }
    .title-section {
        font-size: 35px;
        margin-bottom: 30px;
    }
    .item-banner .title-section span {
        font-size: 48px;
    }
    .item-banner .title-section {
        margin-bottom: 24px;
    }
    .title-middle {
        font-size: 20px;
    }
    .item-banner .title-middle {
        margin-bottom: 50px;
    }
    .item-banner .title-section, .item-banner .title-middle {
        max-width: 515px;
    }
    .item-advantage {
        padding: 10px 7px;
        gap: 8px;
        font-size: 12px;
        line-height: 140%;
    }
    .item-advantage__icon {
        width: 90px;
        height: 90px;
    }
    .billbord {
        padding-bottom: 65px;
    }
    .row > div {
        padding: 0 10px;
    }
    .row {
        margin: 0 -10px;
    }
    .row.row_main > div {
        margin-bottom: 22px;
    }
    .row.row_main {
        margin-bottom: -22px;
    }
    .item-service {
        height: 265px;
        padding: 26px;
        padding-right: 22px;
    }
    .icon-plus {
        width: 28px;
        height: 28px;
    }
    .team .title-section {
        margin-bottom: 0px;
    }
    .slider-team .item-team {
        width: 380px;
        margin: 0 -50px;
    }
    .item-team__image {
        height: 375px;
        margin-bottom: 17px;
    }
    .item-team__title {
        margin-bottom: 11px;
        font-size: 17px;
    }
    .item-team {
        padding: 16px;
    }
    .slider-team {
        padding-bottom: 35px;
    }
    .consultation__block {
        padding: 55px;
        padding-bottom: 0;
    }
    .consultation__title {
        font-size: 39px;
        margin-bottom: 22px;
    }
    .consultation__content ul li {
        margin-bottom: 18px;
        font-size: 17px;
    }
    .consultation__content ul {
        max-width: 315px;
    }
    .consultation__block .form-page {
        margin-left: 0;
    }    
    .form-page {
        padding: 20px 22px;
    }
    .item-form input, .item-form textarea {
        padding: 0 17px;
        height: 50px;
        font-size: 13px;
    }
    .form-page .row > div {
        padding: 0 4px;
    }
    .form-page .row {
        margin: 0 -4px;
    }
    .consultation__image img {
        max-width: 390px;
        margin-left: -80px;
    }
    .checkbox {
        font-size: 11px;
        margin-top: 12px;
    }
    .checkbox label > span {
        padding-left: 26px;
    }
    .item-form {
        margin-bottom: 12px;
    }
    .title-form {
        font-size: 20px;
        margin-bottom: 16px;
    }
    .head-section {
        margin-bottom: 38px;
    }
    .btn-simple {
        padding: 0 22px;
        height: 46px;
        font-size: 14px;
    }
    .info-history {
        padding: 26px;
    }
    .info-history .title-middle {
        margin-bottom: 16px;
    }
    .row.row_histories > div {
        margin-bottom: 22px;
    }
    .row.row_histories {
        margin-bottom: -22px;
    }
    .item-history {
        min-height: 175px;
        font-size: 16px;
        padding: 9px;
        gap: 9px;
    }
    .item-history__value {
        width: 90px;
        height: 90px;
        font-size: 55px;
    }
    .item-history__title {
        font-size: 28px;
    }
    .consultation,
    .team,
    .services,
    .reviews,
    .histories {
        padding-bottom: 80px;
    }
    .item-review {
        padding: 28px 40px;
        width: 880px; 
        margin: 0 -80px
    }
    .footer {
        padding-top: 56px;
        font-size: 13px;
    }
    .footer .logo {
        margin-top: -20px;
    }
    .footer__text,
    .footer__nav_big,
    .footer__title {
        font-size: 14px;
    }
    .footer-bottom {
        margin-top: 50px;
    }
    .slider-banner .slick-dots {
        bottom: 40px;
        left: 40px;
    }
    .header.nav-up {
        transform: translateY(-176px);
    }
    .wrapper {
        padding-top: 175px;
    }
    .contact-block {
        padding: 25px 30px;
    }
    .item-contact__content {
        font-size: 15px;
    }
    .item-contact__descr {
        margin-top: 2px;
        font-size: 13px;
    }
    .item-contact__link {
        font-size: 17px;
    }
    .row > div:nth-child(2) > .item-contact__descr {
        font-size: 12px;
    }
    .contact-block > .row > div {
        margin-bottom: 34px;
    }
    .contact-block > .row {
        margin-bottom: -34px;
    }
    .billbord-page {
        padding: 12px;
        margin-top: 18px;
        margin-bottom: 26px;
        padding-left: 40px;
    }
    .billbord-page .title-section {
        font-size: 37px;
    }
    .billbord-page__image {
        height: 360px;
        margin-left: -40px;
    }
    .billbord-page .btn-main {
        margin-top: 43px;
    }
    .billbord-page__content {
        margin-right: 75px;
    }
    .service-info {
        padding: 26px;
        margin-bottom: 26px;
    }
    .service-info__details {
        padding: 26px;
        margin-right: -25px;
    }
    .service-info .title-middle {
        margin-bottom: 18px;
        font-size: 19px;
    }
    ul.list-page li {
        padding-left: 32px;
        margin-bottom: 9px;
    }
    .service-info_main {
        margin-top: 75px;
    }
    .service-info_main {
        padding-left: 20px;
        padding-right: 20px;
    }
    .single-service .row.row_advantages {
        margin-top: 65px;
    }
    .item-team_main .item-team__image {
        height: 310px;
    }
    .service-doctors .form-page {
        padding: 33px;
    }
    .service-doctors .form-page .checkbox {
        margin-top: 25px;
    }
    .table-main {
        padding: 19px 25px;
    }
    .table-main table td {
        padding: 15px 18px;
    }
    .table-main th {
        padding: 14px 18px;
        font-size: 21px;
    }
    .price-value {
        font-size: 18px;
    }
    .table-main td:last-child {
        width: 196px;
    }
    ul.list-page li::before {
        width: 22px;
        height: 22px;
    }
    .page-about .billbord-page .title-middle {
        max-width: 490px;
    }
    .billbord-page .title-middle {
        margin-top: 20px;
    }
    .page-about .billbord-page .btn-main {
        margin-top: 40px;
    }
    .item-about {
        padding: 22px;
        gap: 20px;
    }
    .item-about__image {
        width: 170px;
        height: 115px;
    }
    .subtitle-about {
        margin-top: 53px;
        font-size: 29px;
        max-width: 1030px;
    }
    .slider-partners .slick-slide {
        padding: 0 10px;
    }
    .slider-partners .slick-list {
        margin: 0 -10px;
    }
    .item-partner {
        height: 120px;
    }
    .slick-arrow {
        width: 45px;
        height: 45px;
    }
    .chief__content::after, .chief__content::before {
        width: 105px;
        height: 75px;
    }
    .chief__head {
        padding: 15px 0;
        margin-top: 15px;
        margin-bottom: 25px;
        margin-left: 155px;
    }
    .chief__title {
        font-size: 28px;
    }
    .btn-video img {
        max-width: 40px;
    }
    .btn-video {
        padding: 10px;
        gap: 15px;
        font-size: 17px;
        padding-right: 20px;
    }
    .info-box {
        padding: 26px;
    }
    .info-box p {
        margin-bottom: 26px;
    }
    .info-box__image {
        height: 260px;
    }
    .breadcrumbs {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .page-team .title-section {
        margin-bottom: 35px;
    }
    .page-team {
        padding-bottom: 80px;
        background-position: center top 60px;
        background-size: 1900px auto;
    }
    .page-team .title-section {
        margin-top: 15px;
    }
    .card-main {
        padding: 26px;
    }
    .slider-for__item {
        height: 400px;
    }
    .slider-nav .slick-slide {
        padding: 0 5px;
    }
    .slider-nav .slick-list {
        margin: 0 -5px;
    }
    .slider-nav {
        margin-top: 12px;
    }
    .slider-nav__item {
        height: 115px;
    }
    .card-main__title {
        font-size: 28px;
        margin-bottom: 32px;
    }
    .treatment-areas .list-page {
        font-size: 16px;
    }
    .treatment-areas__content {
        margin-right: 0;
    }
    .treatment-areas .list-page li {
        padding-right: 0;
    }
    .treatment-areas__image {
        width: 385px;
    }
    .treatment-areas {
        padding: 26px;
    }
    .quote-team::after, 
    .quote-team::before {
        width: 105px;
        height: 75px;
    }
    .quote-team {
        padding: 35px 190px;
        font-size: 21px;
        margin-bottom: 60px;
    }
    .quote-team::before {
        left: 35px;
    }
    .quote-team::after {
        right: 35px;
    }
    .text-team {
        margin-bottom: 60px;
    }
    .form-main {
        padding: 50px 135px;
    }
    .form-main .item-form input {
        height: 60px;
    }
    .item-question__head {
        padding: 16px;
        padding-left: 26px;
        gap: 25px;
        font-size: 17px;
    }
    .item-question__head i {
        width: 50px;
        height: 50px;
    }
    .item-question__content {
        padding: 23px 25px;
        padding-right: 77px;
        padding-top: 0;
    }
    .item-question {
        margin-bottom: 18px;
    }
    .form-main.form-main_question {
        margin-top: 60px;
        padding-left: 230px;
        padding-right: 230px;
    }
    .page-questions {
        background-size: 1700px auto;
        background-position: center top 50px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .header__contacts {
        display: none;
    }
    .menu {
        margin-right: 30px;
    }
    .item-banner {
        padding: 25px 30px;
        height: 410px;
    }
    .title-section {
        font-size: 32px;
    }
    .item-banner .title-section span {
        font-size: 40px;
    }
    .title-middle {
        font-size: 17px;
    }
    .item-banner .title-middle {
        margin-bottom: 30px;
    }
    .slider-banner .slick-dots {
        bottom: 35px;
        left: 30px;
    }
    .item-banner .title-section, .item-banner .title-middle {
        max-width: 430px;
    }
    .row.row_advantages > div {
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .row.row_advantages {
        margin: 0 -10px;
        margin-bottom: -20px;
        margin-top: 25px;
    }
    .item-advantage {
        padding: 14px;
        gap: 12px;
        font-size: 14px;
    }
    .item-service {
        height: 215px;
        padding: 20px;
        padding-right: 15px;
    }
    .consultation__block {
        padding: 25px;
        padding-bottom: 0;
    }
    .consultation__title {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .consultation__content ul li {
        margin-bottom: 14px;
        font-size: 14px;
    }
    .consultation__content ul {
        max-width: 259px;
    }
    .consultation__block .form-page {
        margin-left: -50px;
    }
    .consultation__image img {
        max-width: 360px;
        margin-left: -124px;
    }
    body {
        font-size: 12px;
    }
    .item-history {
        min-height: 158px;
        font-size: 13px;
        gap: 0;
    }
    .item-history__value {
        width: 82px;
        height: 82px;
        font-size: 42px;
    }
    .item-history__title {
        font-size: 22px;
    }
    .item-history__title {
        font-size: 18px;
    }
    .item-review {
        padding: 25px 30px;
        width: 800px;
        margin: 0px -55px;
    }
    .phone-main {
        font-size: 17px;
    }
    .footer {
        padding-top: 42px;
        font-size: 12px;
    }
    .footer__nav_big li {
        margin-bottom: 29px;
    }
    .footer__text, .footer__nav_big, .footer__title {
        font-size: 13px;
    }
    .footer__link, .header__link {
        font-size: 9px;
    }
    .item-contact__link {
        font-size: 14px;
    }
    .billbord-page .title-section {
        font-size: 31px;
    }
    .billbord-page {
        padding-left: 25px;
    }
    .billbord-page__image {
        height: 305px;
    }
    .service-info .title-middle {
        margin-bottom: 15px;
        font-size: 17px;
    }
    .service-info__details {
        padding: 20px;
    }
    .service-doctors .form-page {
        padding: 20px;
    }
    .service-doctors .title-form {
        margin-bottom: 23px;
    }
    .service-doctors .form-page .checkbox {
        margin-top: 18px;
    }
    .form-page .btn-main {
        margin-top: 8px;
    }
    .item-team_main .item-team__image {
        height: 278px;
    }
    .price-value {
        font-size: 16px;
    }
    .table-main td:last-child {
        width: auto;
    }
    .table-main th {
        padding: 12px 13px;
        font-size: 18px;
    }
    .table-main table td {
        padding: 13px 13px;
    }
    .prices {
        padding-bottom: 70px;
    }
    .slick-prev {
        left: -50px;
    }
    .slick-next {
        right: -50px;
    }
    .chief__content {
        margin-left: 15px;
        padding-right: 0;
    }
    .chief__title {
        font-size: 25px;
    }
    .chief__head {
        padding: 15px 0;
        margin-top: 15px;
        margin-bottom: 25px;
        margin-left: 130px;
    }
    .chief__content .btn-video {
        margin-top: 15px;
    }
    .quote-team {
        padding: 35px 160px;
        font-size: 17px;
        margin-bottom: 45px;
    }
    .form-main {
        padding: 30px 50px;
    }
    .form-main__phone {
        margin-bottom: 45px;
    }
    .form-main .item-form input {
        height: 55px;
    }
    .single-team {
        background-size: 1600px auto;
    }
    .page-questions .title-section {
        margin-bottom: 33px;
    }
    .form-main.form-main_question {
        padding-left: 150px;
        padding-right: 150px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .header__top .btn-main,
    .header__bottom .socials-list,
    .header__bottom .menu {
        display: none;
    }
    .header__top {
        justify-content: space-between;
    }
    .logo img {
        width: 70px;
    }
    .header {
        padding: 7px 0;
        transform: none !important;
    }
    .sandwich {
        width: 50px;
        height: 50px;
        padding-top: 14px;
        margin: 0;
    }
    .sandwich_desktop {
        display: none;
    }
    .item-banner,
    .item-banner__back, 
    .item-banner__image,
    .item-banner__back img, 
    .item-banner__image img {
        border-radius: 30px;
    }
    .item-banner .title-section span {
        font-size: 28px;
    }
    .title-section {
        font-size: 25px;
    }
    .item-banner {
        padding: 25px 15px;
        height: 370px;
    }
    .title-middle {
        font-size: 15px;
    }
    .item-banner .title-section {
        margin-bottom: 15px;
    }
    .item-banner .title-middle {
        margin-bottom: 15px;
    }
    .billbord {
        padding-bottom: 50px;
    }
    .row.row_main > div {
        padding: 0 4px;
        margin-bottom: 12px;
    }
    .row.row_main {
        margin: 0 -4px;
        margin-bottom: -12px;
    }
    .item-service {
        padding: 15px;
        height: 190px;
        border-radius: 18px;
    }
    .item-service::before {
        border-radius: 18px;
    }
    .consultation,
    .team,
    .services,
    .reviews,
    .histories {
        padding-bottom: 50px;
    }
    .slider-team .item-team {
        width: 280px;
    }
    .item-team__image {
        height: 295px;
        margin-bottom: 15px;
    }
    .slider-team .slick-center .item-team {
        transform: translateY(-11px);
    }
    .slider-team {
        padding-bottom: 15px;
    }
    .consultation__image img {
        margin: 0 auto;
        max-width: 100%;
    }
    .consultation__block .form-page {
        margin: 0;
    }
    .consultation__block {
        padding: 25px 15px;
    }
    .consultation__content ul {
        max-width: 100%;
    }
    .item-form_datetime::after {
        right: 0;
    }
    .head-section {
        display: block;
        margin-bottom: 30px;
    }
    .head-section .btn-simple {
        margin-top: 15px;
    }
    .info-history {
        padding: 20px 15px;
        margin-bottom: 20px;
        min-height: initial;
    }
    body {
        font-size: 13px;
    }
    .info-history .title-middle {
        font-size: 16px;
    }
    .row.row_histories > div {
        padding: 0 4px;
        margin-bottom: 10px;
    }
    .row.row_histories {
        margin: 0 -4px;
        margin-bottom: -10px;
    }
    .item-history__value {
        margin-right: -20px;
    }
    .item-history__content {
        position: relative;
        z-index: 2;
    }
    .item-review {
        width: 300px;
        padding: 15px;
        border-radius: 16px;
    }
    .col-footer {
        width: 50%;
    }
    .footer .logo {
        margin: 0;
        margin-bottom: 20px;
    }
    .footer .logo img {
        width: 110px;
    }
    .footer {
        padding-top: 29px;
        font-size: 13px;
    }
    .footer .row > div {
        margin-bottom: 20px;
    }
    .footer .phone-main {
        font-size: 15px;
    }
    .footer__nav_big, .footer__title {
        font-size: 15px;
    }
    .footer-bottom {
        margin-top: 20px;
    }
    .btn_top {
        margin-top: -60px;
    }
    .footer-bottom .row > div:last-child {
        margin-bottom: 0;
    }
    .wrapper {
        padding-top: 72px;
    }
    .header__top .btn-main.btn-main_light {
        width: 50px;
        height: 50px;
        padding: 0;
        border-radius: 50%;
        gap: 0;
        font-size: 0;
        display: flex;
    }
    .header.fixed {
        box-shadow: 0 0 10px #c9bfb1 !important;
    }
    .menu-mobile {
        width: 100%;
        top: 100%;
        left: 0;
        max-height: 100vh;
        padding: 15px 15px;
        padding-bottom: 110px;
        color: #000;
        display: none;
        overflow: auto;
        background: #fdfaf6;
        position: absolute;
      }
      .menu {
        margin: 0;
        margin-bottom: 20px;
        display: block;
      }
      .menu a {
        margin: 0;
        padding: 15px 0;
        font-size: 15px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        color: #0f0f0f;
        border-bottom: 1px solid #a6a6a6;
        border-radius: 0;
        text-align: left;
        text-transform: uppercase;
        border-radius: 0;
      }
      .menu-overlay {
        top: 126px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: -1;
        display: none;
    }
    .no-scroll {
        overflow: hidden;
    }
    .menu-mobile .header__contacts {
        margin-bottom: 20px;
        display: flex;
        align-items: flex-start;
    }
    .page-contacts {
        padding-top: 25px;
    }
    .contact-block {
        padding: 25px 20px;
        margin-bottom: 25px;
        min-height: initial;
    }
    .contact-block .title-section {
        margin-bottom: 22px;
    }
    .item-contact__content .row > div {
        margin-bottom: 20px;
    }
    .item-contact__content .row {
        margin-bottom: -20px;
    }
    .item-contact__link {
        font-size: 16px;
    }
    .contact-block > .row > div {
        margin-bottom: 25px;
    }
    .contact-block > .row {
        margin-bottom: -25px;
    }
    #map {
        height: 400px;
        margin-top: 35px;
    }
    .slider-team .slick-slide:not(.slick-active) .item-team {
        opacity: 1;
    }
    .billbord-page {
        padding: 20px;
        border-radius: 20px;
    }
    .billbord-page__content {
        margin-right: 0;
    }
    .billbord-page .title-section br {
        display: none;
    }
    .billbord-page .title-section {
        font-size: 24px;
    }
    .billbord-page .btn-main {
        margin-top: 25px;
    }
    .billbord-page__image {
        height: 250px;
        margin: 0;
        margin-bottom: 20px;
    }
    .billbord-page .col-lg-5 {
        order: -1;
    }
    .billbord-page__image img,
    .billbord-page__image {
        border-radius: 24px;
    }
    .service-info {
        padding: 20px;
    }
    .service-info__details {
        margin: 0;
        margin-bottom: 20px;
    }
    .service-info__content {
        margin: 0;
    }
    .service-info_main {
        margin-top: 0;
    }
    .service-info__image {
        margin-top: 15px;
    }
    .service-doctors,
    .single-service {
        padding-bottom: 56px;
    }
    .service-doctors .col-lg-8 .row > div {
        margin-bottom: 20px;
    }
    .service-doctors .col-lg-8 .row {
        margin-bottom: -20px;
    }
    .item-team_main .item-team__image {
        height: 310px;
    }
    .service-doctors .form-page {
        margin-top: 25px;
    }
    .table-main {
        padding: 18px;
        font-size: 13px;
    }
    .table-main th {
        padding: 10px 10px;
        font-size: 15px;
    }
    .price-value {
        font-size: 14px;
    }
    .table-main table td {
        padding: 10px 7px;
    }
    .fancybox-slide {
        padding-left: 15px;
        padding-right: 15px;
    }
    .page-about .billbord-page .btn-main {
        margin-top: 28px;
    }
    .billbord-page .title-middle {
        margin-top: 13px;
    }
    .item-about {
        padding: 5px;
        display: block;
    }
    .item-about__image {
        width: 100%;
        height: 200px;
        margin-bottom: 15px;
    }
    .subtitle-about {
        margin-top: 30px;
        font-size: 20px;
    }
    .page-about {
        padding-bottom: 50px;
        background-position: center bottom 100px;
        background-size: 600px auto;
    }
    .slider-partners {
        padding-bottom: 33px;
    }
    .partners {
        padding-bottom: 50px;
    }
    .chief__head {
        margin: 0;
        margin-bottom: 15px;
    }
    .chief__content {
        margin: 0;
    }
    .chief__image {
        margin: 0;
    }
    .chief__block {
        padding: 20px;
    }
    .chief__title {
        font-size: 21px;
        margin-bottom: 15px;
    }
    .chief__content::after, .chief__content::before {
        width: 65px;
        height: 45px;
    }
    .chief__content::before {
        top: 15px;
    }
    .our-mission, .chief {
        padding-bottom: 50px;
    }
    .info-box__image {
        height: 160px;
    }
    .info-box {
        padding: 20px;
    }
    .breadcrumbs {
        padding: 20px 0;
        display: block;
    }
    .breadcrumbs li {
        display: inline;
    }
    .page-team .title-section {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .page-team {
        padding-bottom: 55px;
    }
    .card-main {
        padding: 20px;
    }
    .slider-for__item {
        height: 285px;
    }
    .slider-nav__item {
        height: 73px;
    }
    .slider-nav__item,
    .slider-nav__item img {
        border-radius: 10px;
    }
    .card-main__title {
        font-size: 24px;
        margin-bottom: 19px;
        margin-top: 20px;
    }
    .card-main .btn-main {
        width: 100%;
    }
    .card-main .card-main__content {
        display: block;
        padding-bottom: 0;
    }
    .treatment-areas .list-page {
        font-size: 14px;
        display: block;
    }
    .treatment-areas .list-page li {
        margin-bottom: 17px;
    }
    .treatment-areas .title-middle {
        margin-bottom: 20px;
    }
    .quote-team {
        padding: 20px;
    }
    .quote-team::after, .quote-team::before {
        width: 65px;
        height: 44px;
        margin: 0;
    }
    .quote-team::before {
        top: 20px;
        left: 20px;
        bottom: auto;
    }
    .quote-team::after {
        bottom: 20px;
        right: 20px;
        top: auto;
    }
    .text-team {
        margin-bottom: 37px;
    }
    .prices-team {
        padding-bottom: 60px;
    }
    .form-main {
        padding: 20px;
    }
    .form-main__title {
        font-size: 22px;
        margin-bottom: 22px;
    }
    .form-main__phone {
        margin-bottom: 30px;
    }
    .form-main__phone a {
        padding: 13px 24px;
        font-size: 18px;
    }
    .form-main .title-middle {
        margin-bottom: 17px;
    }
    .form-main .item-form {
        margin-bottom: 15px;
    }
    .single-team {
        padding-bottom: 60px;
        background-size: 1200px auto;
    }
    .page-questions .title-section {
        margin-bottom: 25px;
    }
    .page-questions {
        padding-bottom: 55px;
        background-size: 1000px auto;
    }
    .item-question__head {
        padding: 15px;
        padding-left: 20px;
        gap: 17px;
        font-size: 16px;
    }
    .item-question__content {
        padding: 23px 20px;
        padding-top: 0;
    }
    .form-main.form-main_question {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 40px;
    }
    .single-service .row.row_advantages {
        margin-top: 45px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .item-about__image {
        height: 152px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .item-about__image {
        height: 105px;
    }
    .item-about__image,
    .item-about__image img {
        border-radius: 8px;
    }
    .item-about {  
        font-size: 11px;
        line-height: 140%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .sandwich:hover::before {
        opacity: 1;
    }
    .sandwich:hover span {
        background: #fff;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .sandwich_mobile,
    .menu-overlay,
    .menu-mobile {
        display: none !important;
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {
	.container {
    max-width: 1470px;
}
}